img{
    width:45%;
    margin:calc(10%/4);
    border:2px solid rgb(250, 250, 250);
    box-sizing: border-box;
    border-radius: 2px;
}

#badge{
    display:block;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    border-radius: 50%;
    color:rgb(11, 11, 10);
}

#cert{
    text-align: center;
    color:rgb(11, 11, 11);
}

body{
    /*background-color: rgb(40, 46, 59);*/
    font-family: 'Trispace', sans-serif;
    font-size: xx-large;
}